snippet divid
	<div id="${1:id}" class="${2:class}">
		${3}
	</div>
snippet div
	<div class="${1:class}">
		${2}
	</div>
snippet bscontainer
	<div class="container${1}">
		${2}
	</div>
snippet bsrow
	<div class="row${1}">
		${2}
	</div>
snippet bstable
	<table class="table${1}">
		${2}
	</table>
snippet bsbar
	<div class="progress progress-striped active">
		<div class="bar" style="width: ${1:40%}"></div>
	</div>
